<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://m.facebook.com/mihaela.bucatariu.735" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/MihaelaBucatar2" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/mike507" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; Tous les droits réservés.
      </p>
    </div>
  </footer>
