<div class="section" id="about">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A propos</div>
              <p>Bonjour, je m'appele <strong>Mihaela Bucatariu.</strong></p>
              <p>Je suis ingénieur informaticien à l'écoute des opportunités du marché</p>

              <p>
                Je suis quelqu’un passionnée par l’informatique et par les dernières évolutions technologiques.
                J'ai 16 ans d'expérience en développement de logiciel (en C++ et bases de données Oracle PL/SQL).
              </p>
              <p> Ma curiosité naturelle m’a déterminé à étudier en ligne des sujets variés comme:</p>
              <ul>

                <li>le développement Web avec le framework Django (et le langage Python)</li>
                <li>le développement Web Full-Stack JavaScript (MEAN stack: MongoDB, Express.js, Node.js, Angular)</li>
                <li>le cloud computing avec Amazon Web Services (AWS)</li>
                <li>le big data avec Hadoop et Apache Spark</li>
              </ul>
              <p>J’ai utilisé les plateformes de LinkedIn Learning, Udemy, Openclassrooms et AWS training and certifications.</p>

            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informations</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">E-mail:</strong>
                </div>
                <div class="col-sm-8">mbucatariu@outlook.fr</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Tél.:</strong>
                </div>
                <div class="col-sm-8">+33 761243356</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Addresse:</strong>
                </div>
                <div class="col-sm-8">11 rue Volta, 93200 Saint Denis
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langues:</strong>
                </div>
                <div class="col-sm-8">Français, Anglais, Roumain</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
