<div class="section" id="about">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A propos</div>
              <p>Bonjour, je m'appele <strong>Mihaela Bucatariu.</strong></p>
              <p>Je suis de formation ingénieur en informatique, j'ai de l'expérience en C++ et SQL.</p>
              <p>
                En 2019, j'ai décidé de me spécialiser en développement Web, par auto-formation. J'ai suivi des formations en ligne sur Udemy et LinkedIn Learning.
              </p>
              <p>
                J'ai réalisé deux applications Web : AlbumPhoto: application full stack JavaScript, basée sur React et NodeJs et PersonalPortfolio, une application type curriculum-vitae, réalisé avec Angular. Elles sont disponibles sur mon compte GitHub et des démonstrations vidéo peuvent être visionnées sur ma chaine YouTube.
              </p>
              <p>
                GitHub: https://github.com/mike507
              </p>
              <ul>
                <li>
                  <p>
                    AlbumPhoto: https://github.com/mike507/card-javascript-fullstack-app
                  </p>
                  <p>
                    https://youtu.be/RA27bj7DXAQ
                  </p>
                </li>
                <li>
                  <p>
                    PersonalPortfolio: https://github.com/mike507/personal-portofolio
                  </p>
                  <p>
                    https://youtu.be/XPEM_3zRZJ0
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informations</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">E-mail:</strong>
                </div>
                <div class="col-sm-8">mbucatariu@outlook.fr</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Tél.:</strong>
                </div>
                <div class="col-sm-8">+33 761243356</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Addresse:</strong>
                </div>
                <div class="col-sm-8">11 rue Volta, 93200 Saint Denis
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langues:</strong>
                </div>
                <div class="col-sm-8">Français, Anglais, Roumain</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
