<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Portfolio</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <!-- <a href="https://mike507.github.io/Mihaela-Personal-Portofolio-Angular"> -->
                    <a href="https://youtu.be/XPEM_3zRZJ0">
                    <figure class="cc-effect">
                      <img src="assets/images/portfolio1.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Réalisé avec Angular8</div>
                        <p>Développement Web</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://youtu.be/RK9yiP5tzKo">
                    <figure class="cc-effect">
                      <img src="assets/images/portfolio2.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Réalisé avec NodeJs, ExpressJs, MongoDB</div>
                        <p>Développement Web</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
